In [1]:
from math import sqrt
import numpy as np
from statistics import mode
import pandas as pd

In [2]:
class KNearestNeighbors:
    
    def __init__(self, k):
        self.k = k
    
    def fit(self, x_train, y_train):
        self.x = x_train
        self.y = y_train
        
    def euclidean_distance(self, x1, x2):
        return sqrt((x1[0]-x2[0])**2 + (x1[1]-x2[1])**2)
        
    def predict(self, x):
        distances=[]
        for p in self.x:
            distances.append(self.euclidean_distance(x, p))
        nearest = np.argsort(distances)
        Knearest = nearest[ :self.k]
        Knearest_labels = [self.y[i] for i in Knearest]
        return mode(Knearest_labels)
        
    def evaluate(self, x, y):
        corrects = 0
        for i in range(len(x)):
            if self.predict(x[i]) == y[i]:
                corrects+=1
        return corrects/len(x)

In [38]:
data = pd.read_csv('weight-height.csv')
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [39]:
data['Height'] = data['Height'] * 2.54
data['Weight'] = data['Weight'] / 2.205
data.replace(['Male', 'Female'], [1,0], inplace=True)
data = data.sample(frac=1)
data.head()

      Gender      Height     Weight
8328       0  158.581231  56.365598
179        1  171.430234  83.167267
7577       0  159.992565  64.648327
8033       0  171.002066  66.657583
2788       1  172.956131  77.068753

In [40]:
x = np.array([data['Height'], data['Weight']]).T
y = np.array(data['Gender'])

x_train = x[100: ]
y_train = y[100: ]
x_test = x[ :100]
y_test = y[ :100]

In [41]:
knn = KNearestNeighbors(3)
knn.fit(x_train, y_train)
print('my knn acc: ', knn.evaluate(x_test, y_test))

my knn acc:  0.97

In [42]:
from sklearn.neighbors import KNeighborsClassifier

real_knn = KNeighborsClassifier()
real_knn.fit(x_train, y_train)
print('real knn acc: ', real_knn.score(x_test, y_test))

real knn acc:  0.96

huh u see? mine is better than the actual thing. everyone using of my program without paying me will face legal consequences. dont say i didnt warn